<div class="toolbar">
  <button
    nbButton
    #defaultSelection
    id="rectangle-button"
    [disabled]="!isInitialized"
    class="selected"
    [status]="statuses.HAND"
    (click)="onToolSelectClick($event, options.HAND)"
    i18n="@@tools.hand"
  >
    HAND
  </button>
  <button
    nbButton
    #defaultSelection
    id="rectangle-button"
    [disabled]="!isInitialized"
    class="selected"
    [status]="statuses.RECTANGLE"
    (click)="onToolSelectClick($event, options.RECTANGLE)"
    i18n="@@tools.rectangle"
  >
    RECTANGLE
  </button>
  <button
    nbButton
    id="elipse-button"
    [disabled]="!isInitialized"
    [status]="statuses.ELLIPSE"
    (click)="onToolSelectClick($event, options.ELLIPSE)"
    i18n="@@tools.ellipse"
  >
    ELIPSE
  </button>
  <button
    nbButton
    id="line-button"
    [disabled]="!isInitialized"
    [status]="statuses.LINE"
    (click)="onToolSelectClick($event, options.LINE)"
    i18n="@@tools.line"
  >
    LINE
  </button>
  <button
    nbButton
    id="triangle-button"
    [disabled]="!isInitialized"
    [status]="statuses.TRIANGLE"
    (click)="onToolSelectClick($event, options.TRIANGLE)"
    i18n="@@tools.triangle"
  >
    TRIANGLE
  </button>
  <button
    nbButton
    id="text-button"
    [disabled]="!isInitialized"
    [status]="statuses.TEXT"
    (click)="onToolSelectClick($event, options.TEXT)"
    i18n="@@tools.text"
  >
    TEXT
  </button>
  <input type="file" id="img-input" accept="image/*" style="display: none" />
  <button
    nbButton
    id="image-button"
    [disabled]="!isInitialized"
    [status]="statuses.IMAGE"
    (click)="onToolSelectClick($event, options.IMAGE)"
    i18n="@@tools.image"
  >
    IMAGE
  </button>
  <button
    nbButton
    id="clear-button"
    [disabled]="!isInitialized"
    (click)="onClearClick()"
    i18n="@@tools.clear"
  >
    CLEAR
  </button>
</div>
