@use 'themes' as *;

@use '@nebular/theme/styles/globals' as *;

@include nb-install() {
  @include nb-theme-global();
};

.selected {
  background-color: green;
}
/* You can add global styles to this file, and also import other style files */
app-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}