#hero-form {
  margin-left: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: max-content;
  margin: auto;

  input {
    margin-left: 0.2rem;
  }
}

#controls {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: stretch;
  margin: auto;
}