<div>
  <p>
    <label for="name" i18n="@@props.name">name: </label>
    <input
      nbInput
      type="text"
      name="name"
      id="text-field"
      [(ngModel)]="params.name"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="x">x: </label>
    <input
      nbInput
      type="number"
      name="x"
      id="x-field"
      [(ngModel)]="params.x"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="y">y: </label>
    <input
      nbInput
      type="number"
      name="y"
      id="y-field"
      [(ngModel)]="params.y"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="strokeStyle" i18n="@@props.strokeStyle">strokeStyle: </label>
    <input
      nbInput
      fieldSize="medium"
      type="color"
      name="strokeStyle"
      id="strokeStyle-field"
      [(ngModel)]="params.strokeStyle"
      (change)="onFieldChange($event)"
    />
  </p>
</div>

<div *ngIf="paramsType === 'fillParams' || paramsType === 'imageParams'">
  <p>
    <label for="h" i18n="@@props.h">h: </label>
    <input
      nbInput
      type="number"
      name="h"
      id="h-field"
      [(ngModel)]="params.h"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="w" i18n="@@props.w">w: </label>
    <input
      nbInput
      type="number"
      name="w"
      id="w-field"
      [(ngModel)]="params.w"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="r" i18n="@@props.r">r: </label>
    <input
      nbInput
      type="number"
      name="r"
      id="r-field"
      [(ngModel)]="params.r"
      (change)="onFieldChange($event)"
    />
  </p>
  <p *ngIf="paramsType === 'fillParams'">
    <label for="fillStyle" i18n="@@props.fillStyle">fillStyle: </label>
    <input
      nbInput
      fieldSize="medium"
      type="color"
      name="fillStyle"
      id="fillStyle-field"
      [(ngModel)]="params.fillStyle"
      (change)="onFieldChange($event)"
    />
  </p>
  <p (click)="onImgSrcClick()" *ngIf="paramsType === 'imageParams'">
    <input
      nbInput
      type="file"
      name="imgSrc"
      id="imgSrc"
      (change)="onImgSrcChange($event)"
      (change)="onFieldChange($event)"
    />
  </p>
</div>

<div *ngIf="paramsType === 'lineParams'">
  <p>
    <label for="x2">x2: </label>
    <input
      nbInput
      type="number"
      name="x2"
      id="x2-field"
      [(ngModel)]="params.x2"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="y2">y2: </label>
    <input
      nbInput
      type="number"
      name="y2"
      id="y2-field"
      [(ngModel)]="params.y2"
      (change)="onFieldChange($event)"
    />
  </p>
</div>

<div *ngIf="paramsType === 'textParams'">
  <p>
    <label for="r" i18n="@@props.r">r: </label>
    <input
      nbInput
      type="number"
      name="r"
      id="r-field"
      [(ngModel)]="params.r"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="fontSize" i18n="@@props.fontSize">fontSize: </label>
    <input
      nbInput
      type="number"
      name="fontSize"
      id="fontSize-field"
      [(ngModel)]="params.fontSize"
      (change)="onFieldChange($event)"
    />
  </p>
  <p>
    <label for="value" i18n="@@props.value">value: </label>
    <input
      nbInput
      type="text"
      name="value"
      id="value-field"
      [(ngModel)]="params.value"
      (change)="onFieldChange($event)"
    />
  </p>
</div>
<button
  nbButton
  status="danger"
  (click)="onRemoveClick()"
  i18n="@@props.button.remove"
>
  Remove
</button>
