<nb-card>
  <nb-card-body class="login-form">
    <form [formGroup]="authForm" (ngSubmit)="onLoginClick()">
      <label for="userame" i18n="@@auth.form.username">Username: </label>
      <input
        nbInput
        type="text"
        formControlName="username"
        name="username"
        id="username"
        [disabled]="lockForm"
      />
      <br />
      <label for="password" i18n="@@auth.form.password">Password: </label>
      <input
        nbInput
        type="text"
        formControlName="password"
        name="password"
        id="password"
        [disabled]="lockForm"
      />
      <br />
      <input
        nbInput
        type="submit"
        i18n-value="{i18n_authSubmit}"
        [disabled]="authForm.invalid && lockForm"
      />
    </form>
  </nb-card-body>
</nb-card>
