<div>
  <nb-user
    *ngIf="isLoggedIn()"
    name="{{ username }}"
    style="display: inline-block"
  ></nb-user>
  <button
    *ngIf="isLoggedIn()"
    nbButton
    (click)="onLogoutClick()"
    style="margin-left: 2rem"
    i18n="@@navbar.logout"
  >
    Logout
  </button>
  <nb-user
    *ngIf="!isLoggedIn()"
    name="Unknown"
    style="display: inline-block"
  ></nb-user>
</div>

<div class="title">
  <select name="Localization" (change)="onLocaleChange($event)">
    <option value="ua">Українська</option>
    <option value="en-US">English (US)</option>
  </select>
</div>
